---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import {Button} from "../components/Button.jsx";
---
<DefaultLayout>
    <h1>Bienvenido a mi pagina de About</h1>
    <Button client:visible/>
</DefaultLayout>
